.placeholderBlob {
  position: relative;
  display: inline-block;
  text-align: center;
  width: fit-content;

  animation: fadeInAndOut 6s ease infinite;
  opacity: 0;
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.questionContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.input {
  height: 2.5rem;

  color: antiquewhite;
}

.container {
  height: 100vh;
  position: relative;
}

@keyframes firework {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  16% {
    transform: scale(0);
    opacity: 1;
  }
  64% {
    transform: scale(0.75);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.firework {
  width: 100%;
  height: 200px;
  position: absolute;
  top: -220%;
  opacity: 0.2;

  border-radius: 50%;

  animation: firework 6s ease-out forwards infinite;
  z-index: 1;
  filter: blur(60px);
  /* opacity: ; */
}

.text {
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
}

.submitButton {
  background-color: inherit;
  color: antiquewhite;
  border: none;
  /* padding: 0.5rem 1rem; */
  padding: 0;
  filter: none;

  cursor: pointer;
  /* font-family: "Cursive"; */
  font-size: 2rem;
  line-height: 1;
  position: unset;
}

.submitButton:hover {
  background-color: inherit;
}

@media screen and (max-width: 600px) {
  .text {
    font-size: 1rem;
  }
  .submitButton {
    font-size: 1.5rem;
  }
  .questionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
