.door {
  height: 30vw;
  width: 15vw;
  background-color: #183fda;
  position: relative;
  z-index: 10;
  transform-origin: top left;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.background {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.handle {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translate(0, -50%);
}

.circleText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.circle {
  --size: 200px;
  animation: pulseColor 6s infinite;
  filter: blur(50px);
  background-color: #183fda;
  height: var(--size);
  width: var(--size);
  border-radius: 100%;
  position: absolute;
  left: calc(var(--size) / -2);
  top: calc(var(--size) / -2);
}

@keyframes pulseColor {
  0% {
    background-color: #ae5552;
  }
  33% {
    background-color: #ff0000;
  }
  66% {
    background-color: #183fda;
  }
  100% {
    background-color: #ae5552;
  }
}
