@font-face {
  font-family: "NeueBit";
  src: url("/PPNeueBit-Bold.otf");
}

@font-face {
  font-family: "Cursive";
  src: url("/americancursive.ttf");
}

:root {
  --background: #342d28;
  --button-background: #828282;
  --button-background-shadow: #434343;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: var(--background);
}

h1 {
  font-family: "NeueBit", Helvetica, Arial, sans-serif;
  font-size: 48px;
  color: #e7e0d3;
  line-height: 1;
}

p {
  font-family: "NeueBit", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1.25;
  color: #e7e0d3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

input {
  border: none;
  padding: 0;
  font-size: 2.25rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid gray;
  background-color: inherit;
  font-family: "NeueBit";
}

input:focus {
  outline: none;
}

button {
  background-color: var(--button-background);
  border: none;
  font-family: "NeueBit", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 150ms ease-out;
  border-radius: 0.25rem;

  font-size: 1.25rem;
  color: #e7e0d3;
  filter: drop-shadow(0px 8px var(--button-background-shadow));
  position: relative;
  top: 0px;
  transition: top 100ms ease-out, filter 100ms ease-out;
}

button:hover {
  filter: drop-shadow(0 0 var(--button-background-shadow));
  top: 8px;
}
