.container {
  height: 100vh;
  padding: 30vh 25vw;
  position: relative;
  z-index: 10;
  background: linear-gradient(
    -45deg,
    var(--answer-color-yes) -20%,
    var(--background),
    var(--answer-color-no)
  );
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    /* background-size: 100% 100%; */
    background-position: 0% 50%;
  }
  50% {
    /* background-size: 150% 150%; */
    background-position: 100% 50%;
  }
  100% {
    /* background-size: 200% 200%; */
    background-position: 0% 50%;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.questionContainer {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  width: 100%;
}

.titleContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.input {
  width: 100%;
}
